In [59]:
import pandas as pd
import numpy as np

### clean up on fifa players dataset (going to do regression on rating and value of player)

In [60]:
dat = pd.read_csv("Fifa 22 Fut Players.csv")
dat.head()

,Name,Ratings,Position,Version,PS,SKI,WF,WR,PAC,SHO,...,DRI,DEF,PHY,Body,Popularity,BS,IGS,Club,League,Country
0,Pelé,99,CAM,Icon Moments,3.8M,5,4,H \ M,96,97,...,97,62,79,"173cm | 5'8"" Unique (70kg)",2392,527,2563,FUT 22 ICONS,Icons,Brazil
1,Lionel Messi,99,CF,ShapeShifters,2.2M,5,4,H \ L,95,98,...,99,42,78,"170cm | 5'7"" Messi (72kg)",4336,511,2485,Paris SG,Ligue 1,Argentina
2,Cristiano Ronaldo,99,LW,ShapeShifters,2.35M,5,4,H \ L,99,99,...,97,50,92,"187cm | 6'2"" CR7 (83kg)",4752,527,2549,Manchester Utd,Premier League,Portugal
3,Raphaël Varane,99,CB,Premium Futties SBC,818.75K,2,3,M \ H,96,61,...,83,99,98,"191cm | 6'3"" Unique (81kg)",2208,517,2378,Manchester Utd,Premier League,France
4,Ousmane Dembélé,99,RW,Premium Futties,1.16M,5,5,H \ M,99,96,...,99,49,79,"178cm | 5'10"" Unique (67kg)",1861,516,2488,FC Barcelona,LaLiga Santander,France

In [61]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23665 entries, 0 to 23664
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        23665 non-null  object
 1   Ratings     23665 non-null  int64
 2   Position    23665 non-null  object
 3   Version     23665 non-null  object
 4   PS          23665 non-null  object
 5   SKI         23665 non-null  int64
 6   WF          23665 non-null  int64
 7   WR          23665 non-null  object
 8   PAC         23665 non-null  int64
 9   SHO         23665 non-null  int64
 10  PAS         23665 non-null  int64
 11  DRI         23665 non-null  int64
 12  DEF         23665 non-null  int64
 13  PHY         23665 non-null  int64
 14  Body        23610 non-null  object
 15  Popularity  23665 non-null  int64
 16  BS          23665 non-null  int64
 17  IGS         23665 non-null  int64
 18  Club        23665 non-null  object
 19  League      23665 non-null  object
 20  Country     23665 non-null  object
dtypes: int64(12), object(9)
memory usage: 3.8+ MB

### data cleaning

In [62]:
#check na and duplicates, make new features from body column (height, weight, body type) and value

In [63]:
dat.isnull().sum()

Name           0
Ratings        0
Position       0
Version        0
PS             0
SKI            0
WF             0
WR             0
PAC            0
SHO            0
PAS            0
DRI            0
DEF            0
PHY            0
Body          55
Popularity     0
BS             0
IGS            0
Club           0
League         0
Country        0
dtype: int64

In [64]:
dat[dat["Body"].isnull()].head()

,Name,Ratings,Position,Version,PS,SKI,WF,WR,PAC,SHO,...,DRI,DEF,PHY,Body,Popularity,BS,IGS,Club,League,Country
4687,Mammana,75,CB,Libertadores,0,3,2,M \ M,78,42,...,70,75,71,NaN,24,401,1890,River Plate,CONMEBOL Libertadores,Argentina
5304,Pratto,74,ST,Libertadores,0,3,3,H \ M,70,74,...,69,57,80,NaN,2,419,1993,Vélez Sarsfield,CONMEBOL Libertadores,Argentina
5305,Pabón,74,RM,Libertadores,0,3,4,H \ H,82,76,...,71,38,69,NaN,10,408,1978,Atl. Nacional,CONMEBOL Libertadores,Colombia
5340,Gil,74,CM,Libertadores,0,3,2,H \ M,63,64,...,72,66,77,NaN,7,418,2034,Colo-Colo,CONMEBOL Libertadores,Argentina
6888,Aguilar,72,CB,Libertadores,0,2,3,M \ M,48,40,...,49,75,80,NaN,3,340,1537,Atl. Nacional,CONMEBOL Libertadores,Colombia

In [65]:
dat.dropna(inplace=True)

In [66]:
dat.drop(dat[dat["PS"] == '0'].index, inplace=True)

In [67]:
dat.sample(10)

,Name,Ratings,Position,Version,PS,SKI,WF,WR,PAC,SHO,...,DRI,DEF,PHY,Body,Popularity,BS,IGS,Club,League,Country
16780,Carlos Rosel,63,RM,Normal,650,2,3,M \ M,80,48,...,64,55,61,"167cm | 5'6"" Short & Lean- (67kg)",1,367,1708,FC Juárez,LIGA BBVA MX (MEX 1),Mexico
21942,Luqman Hakim,57,ST,Normal,650,3,3,M \ M,72,58,...,66,18,46,"170cm | 5'7"" Short & Lean- (65kg)",113,315,1523,KV Kortrijk,1A Pro League (BEL 1),Malaysia
20115,Chinedu Ekene,60,ST,Normal,700,2,3,M \ M,68,58,...,58,26,69,"180cm | 5'11"" Stocky (85kg)",3,326,1504,MSV Duisburg,3. Liga (GER 3),Germany
11624,Pablo Pérez Rodríguez,67,CAM,Normal,1.1K,3,3,H \ H,63,65,...,65,53,66,"188cm | 6'2"" High & Average+ (82kg)",0,379,1823,R. Sporting,LaLiga SmartBank (ESP 2),Spain
15704,Hikmet Çiftçi,64,CM,Normal,600,2,3,M \ M,68,52,...,66,51,62,"177cm | 5'10"" Lean (73kg)",1,361,1712,Kaiserslautern,3. Liga (GER 3),Turkey
13875,Alan Mannus,65,GK,Normal,950,1,3,M \ M,63,66,...,64,36,65,"188cm | 6'2"" High & Stocky (94kg)",6,354,867,Shamrock Rovers,SSE Airtricity League (IRL 1),Northern Ireland
2006,Jordan Graham,84,RW,Winter Wildcards,70K,4,5,M \ L,90,83,...,90,40,65,"182cm | 6'0"" Lean (73kg)",1243,453,2226,Birmingham City,EFL Championship (ENG 2),England
16052,Szymon Lewkot,64,CB,Normal,700,2,3,H \ M,67,46,...,59,63,72,"187cm | 6'2"" High & Average (85kg)",-9,362,1646,Śląsk Wrocław,Polski Ekstraklasa (POL 1),Poland
15032,Ben Williams,65,LWB,non-rare,1K,2,3,M \ H,72,42,...,62,61,63,"178cm | 5'10"" Average (75kg)",1,355,1637,Cheltenham Town,EFL League One (ENG 3),Wales
22850,Jack Stafford,54,LB,Normal,700,2,3,M \ M,59,37,...,53,51,58,"186cm | 6'1"" High & Average+ (70kg)",-8,307,1417,Waterford FC,SSE Airtricity League (IRL 1),England

In [68]:
dat["Height(cm)"] = dat.Body.str.extract('(\d+)cm')
dat["Weight(kg)"] = dat.Body.str.extract('(\d+)kg').astype(np.int32)
dat["Body Type"] = dat.Body.str.extract('" (.+) \(')

In [69]:
dat[["Height(cm)", "Body Type"]].isnull().sum()

Height(cm)    5
Body Type     5
dtype: int64

In [70]:
dat = dat.dropna()

In [71]:
dat[["Height(cm)", "Body Type"]].isnull().sum()

Height(cm)    0
Body Type     0
dtype: int64

In [72]:
#prevents warning 
pd.options.mode.chained_assignment = None  # default='warn'
dat["Height(cm)"] = dat["Height(cm)"].astype(np.int32)

In [73]:
dat["Height(cm)"].dtypes

dtype('int32')

In [74]:
dat.isnull().sum()

Name          0
Ratings       0
Position      0
Version       0
PS            0
SKI           0
WF            0
WR            0
PAC           0
SHO           0
PAS           0
DRI           0
DEF           0
PHY           0
Body          0
Popularity    0
BS            0
IGS           0
Club          0
League        0
Country       0
Height(cm)    0
Weight(kg)    0
Body Type     0
dtype: int64

In [75]:
dat.drop(columns="Body", inplace=True)

In [76]:
ps_ext = dat.PS.str.extract('(\d+[\.]?\d*)([MK]?)').dropna()
ps_ext[0] = ps_ext[0].astype(np.float32)
ps_ext

            0  1
0        3.80  M
1        2.20  M
2        2.35  M
3      818.75  K
4        1.16  M
...       ... ..
23655  650.00
23656  650.00
23659  500.00
23660    1.20  K
23661  700.00

[17079 rows x 2 columns]

In [77]:
new_nums = []
for x, y, z in ps_ext.itertuples():
  if z == 'M':
    new_nums.append(round(y, ndigits=2) * 1000000)
  elif z == 'K':
    new_nums.append(round(y, ndigits=2) * 1000)
  else:
    new_nums.append(y)

In [78]:
new_ps = pd.Series(new_nums)

In [79]:
dat["PS"] = new_ps

In [80]:
dat['Body Type'] = dat['Body Type'].astype('string')
dat["Name"] = dat["Name"].astype('string')

In [81]:
dat.dropna(inplace=True)

In [82]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12697 entries, 0 to 17077
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        12697 non-null  string
 1   Ratings     12697 non-null  int64
 2   Position    12697 non-null  object
 3   Version     12697 non-null  object
 4   PS          12697 non-null  float64
 5   SKI         12697 non-null  int64
 6   WF          12697 non-null  int64
 7   WR          12697 non-null  object
 8   PAC         12697 non-null  int64
 9   SHO         12697 non-null  int64
 10  PAS         12697 non-null  int64
 11  DRI         12697 non-null  int64
 12  DEF         12697 non-null  int64
 13  PHY         12697 non-null  int64
 14  Popularity  12697 non-null  int64
 15  BS          12697 non-null  int64
 16  IGS         12697 non-null  int64
 17  Club        12697 non-null  object
 18  League      12697 non-null  object
 19  Country     12697 non-null  object
 20  Height(cm)  12697 non-null  int32
 21  Weight(kg)  12697 non-null  int32
 22  Body Type   12697 non-null  string
dtypes: float64(1), int32(2), int64(12), object(6), string(2)
memory usage: 2.2+ MB

In [83]:
dat.head()

,Name,Ratings,Position,Version,PS,SKI,WF,WR,PAC,SHO,...,PHY,Popularity,BS,IGS,Club,League,Country,Height(cm),Weight(kg),Body Type
0,Pelé,99,CAM,Icon Moments,3800000.0,5,4,H \ M,96,97,...,79,2392,527,2563,FUT 22 ICONS,Icons,Brazil,173,70,Unique
1,Lionel Messi,99,CF,ShapeShifters,2200000.0,5,4,H \ L,95,98,...,78,4336,511,2485,Paris SG,Ligue 1,Argentina,170,72,Messi
2,Cristiano Ronaldo,99,LW,ShapeShifters,2350000.0,5,4,H \ L,99,99,...,92,4752,527,2549,Manchester Utd,Premier League,Portugal,187,83,CR7
3,Raphaël Varane,99,CB,Premium Futties SBC,818750.0,2,3,M \ H,96,61,...,98,2208,517,2378,Manchester Utd,Premier League,France,191,81,Unique
4,Ousmane Dembélé,99,RW,Premium Futties,1160000.0,5,5,H \ M,99,96,...,79,1861,516,2488,FC Barcelona,LaLiga Santander,France,178,67,Unique

In [84]:
dat.to_csv("fifa_22_fut_players_cleaned.csv")